<h3>Add Word to Dictionary</h3>
<form [formGroup]="addWordForm" (ngSubmit)="onSubmit()">
    <label for="word">Word: 
        <input id="word" type="text" formControlName="word" placeholder="tsundoku">
    </label>
    <label for="definition">Definition: 
        <input id="definition" type="text" formControlName="definition" placeholder="The act of leaving a book unread after buying it; The condition of acquiring reading materials but letting them pile up in one's home without reading them.">
    </label>
    <label for="letter">Letter: 
        <input id="letter" type="text" formControlName="letter" placeholder="T">
    </label>
    <button type="submit" [disabled]="!addWordForm.valid">Create Entry</button>
</form>  
<button (click)="addWordMe()">Add a Word for Me</button>

<div *ngIf="word">
    <h3>See Entry</h3>
    <ul>
        <li>Word: {{word.word}}</li>
        <li>Definition: {{word.definition}}</li>
        <li>Letter: {{word.letter}}</li>
    </ul>
</div>


